@using RecordShop_Frontend.Model
@using RecordShop_Frontend.Services


<div class="card  justify-content-center" @onclick="NavigateToDetails" style="cursor: pointer;">
    <div class="card-body">
        <h5 class="card-title">@Album.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Album.ArtistName</h6>
        <p class="card-text">
            <strong>Genre:</strong> @Album.MusicGenre<br>
            <strong>Release Year:</strong> @Album.ReleaseYear<br>
            <strong>Stock:</strong> @Album.Stock
        </p>
        <p class="text-danger">@status</p>
@*

        <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-outline-primary btn-sm">Update</button>
            <button class="btn btn-outline-danger btn-sm" @onclick="DeleteAlbum">Delete</button>

        </div>
*@
    </div>
</div>
@code {
    [Parameter]
    public AlbumDTO Album { get; set; }

    [Inject]
    private NavigationManager navigate{ get; set; }

    private string status;
    private void NavigateToDetails()
    {
        navigate.NavigateTo($"/albums/{Album.Id}");
    }

}