@using RecordShop_Frontend.Model

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Album.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Album.ArtistName</h6>
        <p class="card-text">
            <strong>Genre:</strong> @Album.MusicGenre<br>
            <strong>Release Year:</strong> @Album.ReleaseYear<br>
            <strong>Stock:</strong> @Album.Stock
        </p>
    </div>
</div>
@code {
    [Parameter]
    public AlbumDTO Album { get; set; }

}
